
.img{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 600px;
    height: 600px;
    opacity: 0.4;
}

.div{
    position: absolute;
    left: 10%;
    top: 20%;
    font-weight: bold;
    font-size: 80px;
    color:#51576f;
}

.first {
    padding: 2rem;
}
.second{
    padding: 2rem;
    padding-left: 8rem;
}
.third{
    padding: 2rem;
}
.fourth{
    padding: 2rem;
}
.fifth{
    padding: 2rem;
    padding-left: 15rem;
}

.button{
    background-color:#f16e03;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.input{
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    outline: none;
    width: 30%;
    border: 1px solid #f16e03;
    
}